*.aux
*.bak
*.bbl
*.bcf
*.blg
*.ent
*.idx
*.ilg
*.ind
*.lof
*.log
*.pdf
*.ptc
*.xml
*.tex~
*.out
*.snm
*.nav
*.toc
*.dvi
*.~lock*
*.gz
*~
Class05/notes-for-teachers/Phys11-C05-notes-for-teachers.synctex(busy)
